<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <h1 class="col-5 offset-3">SignUp on WanderLust</h1>
            <div class="col-5 offset-3">

                <form action="/signup" method="post" novalidate class="needs-validation">

                    <div class="mb-3"><br>
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" name="username" class="form-control" required />
                        <div class="valid-feedback">Looks good!</div>
                    </div> 
                    
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" name="email" class="form-control" required />
                        <div class="valid-feedback">Looks good!</div>
                    </div> 

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" name="password" class="form-control" required />
                        <div class="valid-feedback">Looks good!</div>
                    </div> 

                    <button class="btn btn-success mb-5">SignUp</button>
                </form>
            </div>
        </div>
    </body>